<mat-toolbar style="max-height: 50px;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="toggle(sidenav)">menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <nav>
    <ul>
      <li> <img class="image" src="{{images}}"></li>
      <li>{{name}}
        <ul>
          <li (click)="opendashboard()">
            <mat-icon>settings</mat-icon>Settings
          </li><br>
          <li>
            <mat-icon (click)="logout()">logout</mat-icon>Logout
          </li>
        </ul>
      </li>
      <li>
        <mat-icon class="arrow">arrow_drop_down</mat-icon>
      </li>
    </ul>
  </nav>
</mat-toolbar>




<div class="container">
  <div class="item">
    <mat-sidenav-container style="position: fixed;">
      <mat-sidenav #sidenav mode="side" closed class="sidenav">
        <mat-nav-list style="width: 150px;z-index: 9999;">
          <a mat-list-item>
            <label>Newsfeed</label>
          </a>
          <a mat-list-item>

            <label>Profile</label>
          </a>
          <a mat-list-item>

            <label>Friend List</label>
          </a>
          <a mat-list-item>

            <label>Friend profile</label>
          </a>
          <a mat-list-item>

            <label>Group</label>
          </a>
          <a mat-list-item>

            <label>Profile Image</label>
          </a>
          <a mat-list-item>

            <label>Notification</label>
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <p style="height: 85vh;">
          <router-outlet> </router-outlet>
        </p>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <div class="item">

    <mat-card class="createpost">
      <p>Create Post</p>
      <img class="postImage" src="{{images}}">
      <input (click)="newPost()" placeholder="Write something here..." style=" border: none;
   outline: none;
   font-size: medium;">

      <mat-divider></mat-divider>
    </mat-card><br>


    <p *ngFor="let item of global">

      <mat-card class="createpost">
        <img style="height: 35px;width: 35px;border-radius: 50%;margin-top: 3px;" src="{{images}}">
        <span class="dora"> {{name}}</span>
        <span style="padding-left: 10px;position: absolute;margin-top: 20px;">{{item.time|dateAgo}}</span>
        <br>
        <span>{{item.quotes}}</span><br>

        <div class="gallerize-example">
          <p  >
  
          <img *ngFor="let img of base[item.id] index as i" [src]="img.data.src" [lightbox]="i"
          [gallery]="item.id" class="inputImage" >
         </p>
        </div>
        
        <!-- {{ getImage(item) | json }} -->
        <!-- <ng-image-fullscreen-view 
        
        [images]="getImage(item)"
        [show]="showFlag"
        (close)="closeEventHandler()">
        </ng-image-fullscreen-view> -->


      </mat-card>
    </p>
  </div>

</div>