.example-spacer {
    flex: 1 1 ;
  }
  
  .image{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    margin-left: -20px;
    margin-top: 3px;
  }
   .arrow{
     position: absolute;
     margin-top: 5px;
     margin-left: -10px;
   }
  
  .main{
     margin:10px ;
     float: left;
     max-width: 300px; 
   }

   .navg{
    text-align: center;
  }

  .img{
    border-radius: 50%;
    
  }

  a:link{
    text-decoration: none;
     color: inherit; 
    
  }

  .abcd{
    float: right;
     margin: 10px; 
     max-width: 500px; 
  }

  .full{
    width: 98%;
  }

  .full-wid{
    min-width:30% ;
   margin:5px;
  }
  .red{
    color: red;
  }


 

  a {
    text-decoration: none;
  }
   
  ul {
   background: none;
   list-style: none;
   margin: 0;
   padding-left: 0;
  }
  
  li  {
   
    background: none;
    display: inline;
     padding: 8px; 
    position: relative;
    text-decoration: none;
    /* transition-duration: 0.5s;  */
  }
  
  /* li a {
    color:none;
  } */
  
  li:hover {

    cursor: pointer;
  }
  
  ul li ul {
    background-color: rgb(224, 224, 224);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }