<!-- <mat-toolbar>
    <p style="font-weight: bold;"> Share a photo </p>
    <span class="spacer"></span>
    <mat-icon>cancel</mat-icon>
</mat-toolbar><br>
<form [formGroup]="formValue"  (ngSubmit)="postData()">

    <img src="{{image}}" width="40px" height="40px">
   <span class="dora" > {{name}}</span>
   <span style="padding-left: 5px;">{{currentDate | date:'dd-MM-yyyy hh:mm a'}}</span><br>
    <input type="text" matInput formControlName="quotes" placeholder="Write something..." name="message" [(ngModel)]="message" style=" border: none;
                outline: none;
                width: 80%;
                font-size: large;
                padding: 10px;
                margin-top: 5px; ">
    <br>
    <img style="height: 100px;width: 200px;" [src]="base" ><br>
   

    <button (click) ="toggleEmojiPicker()"  class="emoji-mart"> <mat-icon> sentiment_satisfied_alt</mat-icon></button>
    <emoji-mart *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
   
  <input #fileInput type="file" hidden formControlName="post" (change)="onImageUpload($event)">
  <button style="margin-left: 3px;"
  (click)="fileInput.click()"><mat-icon>attachment</mat-icon></button>
    
  
    <button style="margin-left: 50px;" mat-raised-button color="primary">Publish</button>
</form> -->




