mat-card{
    max-width: 300px;
    margin:100px auto;
    text-align: center;
}
.head{
    text-align: center;
}
.full-width{
    width: 80%;
}
.red{
    color: red;
}
img{
    max-height:100px ;
    max-width: 100px;
}
